* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: arial
}

body {
    background: #f3f5f9
}

.wrapper {
    position: relative
}

.sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #000000e0;
    padding: 20px 0
}

.text-muted {
    color: #adb5bd !important
}

ul {
    padding-bottom: 20px
}

ul li a img {
    background: #131414;
    top: 0;
    border: none;
    width: 20px
}

.sidebar ul li {
    padding: 15px
}

.sidebar ul li a {
    color: rgb(247, 247, 247);
    display: block
}

.sidebar ul li a .fas {
    width: 30px;
    color: #bdb8d7 !important
}

i.fas.fa-home:hover,
i.fas.fa-file-invoice:hover,
i.fas.fa-video:hover,
i.fas.fa-id-badge:hover,
i.fas.fa-external-link-alt:hover,
i.fas.fa-code:hover,
i.far.fa-calendar-alt:hover,
i.far.fa-credit-card:hover {
    color: #202124 !important
}

.sidebar ul li a .far {
    width: 30px;
    color: #ececdc !important
}

.sidebar ul li:hover {
    background: rgb(167, 164, 5)
}

.sidebar ul li a:hover {
    text-decoration: none
}

.col-6{
    color:rgb(6, 6, 7) ;
    text-align: left;
}

/*3 dot menu styles*/
.menu-nav {
    background-color: rgb(155, 187, 68);
    display: flex;
    justify-content: space-between;
  }
  
  .menu-item {
    color: rgb(5, 5, 5);
    padding: 3px;
  }
  
  .three-dots:after {
    cursor: pointer;
    color: rgb(17, 16, 16);
    content: '\2807';
    font-size: 20px;
    padding: 0 5px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a div {
    padding: 2px;
  }
  
  .dropdown {
    position: absolute;
    right: 10px;
    background-color: rgb(4, 4, 19);
    box-shadow: 0px 0px 3px 3px rgb(4, 4, 36);
    outline: none;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    transition: opacity 0.1s, z-index 0.1s, max-height: 5s;
  }
  
  .dropdown-container:focus {
    outline: none;
  }
  
  .dropdown-container:focus .dropdown {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
    transition: opacity 0.2s, z-index 0.2s, max-height: 0.2s;
  }